header {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2rem;
}

table {
  align-items: center;
  text-align: center;
}

th {
  font-size: 1rem;
}

p , td {
  font-size: 0.8rem;
}

form {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.delete-btn {
  background: red;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
}

.edit-btn {
  background: rgb(255, 208, 0);
  border: 1px solid black;
  border-radius: 3px;
  color: black;
}
