header {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 0.65rem;
}

p {
  font-size: 0.8rem;
}

form {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
